.form {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 0.5rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

.card {
    padding: 0.75rem;
    border: 1px solid black;
}

.card:target {
    border: 2px solid black;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    font-style: italic;
}

.content {
    margin-top: 1rem;
}

.right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1rem;
}