.description-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.5rem;
    font-style: italic;
}

.actions-collection {
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
}

p {
    margin: 0;
}

.tags {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}